.emailVerifyContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


body {
    font-family: 'Anton', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
}