.topbarNum {
    border: 1px solid rgba(255, 255, 255, 0.262);
    border-radius: 50%;
    background-color: transparent;
    height: 30px;
    width: 30px;
    padding: 3px 6px;
    font-size: 13px;
    text-align: center;
}

.topbarRow {
    height: 60px;
    background-color: #3F3F3F;
    font-family: 'Inter';
}

.topbarLinks {
    color: rgba(255, 255, 255, 0.262);
}

.topbarLinks.active,
.topbarLinks:active,
.topbarLinks:focus,
.topbarLinks:hover {
    color: white;
    cursor: pointer;
}

.topbarNum.active,
.topbarNum:active,
.topbarNum:focus,
.topbarNum:hover {
    background-color: white !important;
    color: black !important;
    cursor: pointer;
}