.text-box {
    border: 1px solid black;
}

.clrViolet {
    color: #663399;
}


.aboutNumberInput {
    background: url('../../../public/assets/images/ind\ flag.png') no-repeat scroll 7px 7px;
    padding-left: 30px;
}

.nextBtn{
	width: 100px !important;
    height: 50px !important;
}